@(questions: List[models.Question])

@main("Question Pack") {
<div class="hero-unit" style="margin-top:40px">
    <a href="@routes.Pack.renew" class="btn btn-large btn-critical" style="float:right">Clear Interview Pack</a>
    <h1 style="font-size:58px">Question Pack</h1>
    <hr/>
    @questions.map { q =>
        <div class="question-view">
            @question(q)
        </div>
    }
    <div style="margin-top:20px">

            @helper.form(action = routes.Pack.save) {
                <input type="text" name="identifier" class="packname-field" placeholder="identifier" style="float:left;margin-right:10px;" />
                <input type="hidden" name="questions" value="@questions.foldLeft(";")({ (a,i) => a + ";" + i.id.get.toStringMongod})">
                <input type="submit" class="btn btn-large btn-primary" value="Save Pack">
            }
    </div>

</div>
}